!.github/workflows
*.bak
*.i
*.i.*
*.sublime-project
*.sublime-workspace
*yarn-error.log
.ai/
.claude/
.claude/settings.local.json
.continue/
.cursor/
.cursorignore
.DS_Store
.editorconfig
.gemini/
.idea/
.obsidian/
.omo/
.opencode/
.phpactor.json
.phpintel
.phpstorm_helpers/
.phpunit.result.cache
.playwright-mcp/
.sisyphus/
.vscode/
.zed/
__pycache__
auth.json
CLAUDE.md
composer.lock
copilot-instructions.md
CURSOR.md
git-ignored.*
Icon
mise.toml
node_modules/
opencode.json
PlaygroundCommand.php
