[alias]
    d = diff
    ds = diff --stat
    dw = diff --color-words
    l = log
    lo = log --oneline
    lp = log --patch
    lpw = log --patch --color-words
    ls = log --stat
    rci = !git commit -m \"$(curl -s https://raw.githubusercontent.com/ngerakines/commitment/master/commit_messages.txt|sort -R|tail -n 1)\"
    st = status
[user]
    name = Henrique Moody
    email = henriquemoody@gmail.com
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    frag = magenta bold
    meta = yellow bold
    new = green bold
    old = red bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    editor = vim
    excludesfile = ~/.gitignore
[push]
    default = current
[rebase]
    autosquash = true
[gc]
    auto = 0
