[alias]
    d = diff
    ds = diff --stat
    dw = diff --color-words
    l = log
    lo = log --oneline
    lp = log --patch
    lpw = log --patch --color-words
    last = log --stat --max-count 1
    ls = log --stat
    st = status
    f = fetch
    fp = fetch --prune
    ri = rebase --interactive
    rie = rebase --interactive --keep-empty
[user]
    name = Henrique Moody
    email = henriquemoody@gmail.com
    signingkey = 655813A6
[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
    blame = auto
[core]
    pager = less
    editor = vim
    excludesfile = ~/.gitignore
[push]
    default = current
[rebase]
    autosquash = true
[gc]
    auto = 0
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[commit]
    gpgsign = true
[blame]
    coloring = highlightRecent
[includeIf "gitdir:~/Projects/Werkspot/"]
    path = ~/Projects/Werkspot/.gitconfig
