*.i
*.i.*
*.sublime-project
*.sublime-workspace
*.bak
*yarn-error.log
.claude/
CLAUDE.md
CURSOR.md
.continue/
.gemini/
.cursor/
.github/*
!.github/workflows
copilot-instructions.md
.DS_Store
.editorconfig
.idea/
.obsidian/
.opencode/
.phpactor.json
.phpintel
.phpstorm_helpers/
.vscode/
.zed/
auth.json
git-ignored.*
Icon
node_modules/
PlaygroundCommand.php
.cursorignore
.claude/settings.local.json
.phpunit.result.cache
composer.lock
