[alias]
    ; Commit
    c = commit
    ca = commit --all
    cm = commit --amend
    cam = commit --all --amend
    came = commit --all --amend --no-edit
    backup = ! git add -A && git commit -m \"Backup: $(date +'%Y-%m-%d %H:%M:%S')\"
    ; Diff
    d = diff
    ds = diff --stat
    dw = diff --color-words
    ; Log
    l = log
    lo = log --oneline
    lp = log --patch
    lpw = log --patch --color-words
    ls = log --stat
    ; Other
    last = show --stat
    st = status
    f = fetch
    fp = fetch --prune
    ri = rebase --interactive
    rie = rebase --interactive --keep-empty
    count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
    ; Worktree
    wl = worktree list
    wa = "! git worktree add "${1}""
    wr = "! git worktree remove "${1}""
[user]
    name = Henrique Moody
    email = henriquemoody@gmail.com
    signingkey = 655813A6
[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
    blame = auto
[core]
    pager = less
    editor = vim
    excludesfile = ~/.gitignore
[push]
    default = current
[rebase]
    autosquash = true
[gc]
    auto = 0
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[commit]
    gpgsign = true
[blame]
    coloring = highlightRecent
[includeIf "gitdir:~/opt/personal/"]
    path = ~/opt/personal/.gitconfig
[includeIf "gitdir:~/opt/angi/"]
    path = ~/opt/angi/.gitconfig
[init]
    defaultBranch = main
